name: publish
on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 24
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - name: Run tests
        run: npm test

      - name: Publish to npm with OIDC and provenance
        run: npm publish --provenance --access public
